body {
  text-align: center;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

.instruction-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.instruction-item {
  list-style: none;
}

table,
td,
tr {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.canvas-row {
  height: auto;
  max-height: max-content;
  max-width: max-content;
}

.canvas-cell {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

input[type=number] {
  width: 6em;
}

.hidden {
  display: none;
}

.canvas-wrap {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.mcpform {
  display: flex;
  justify-content: center;
  align-items: center;
}